<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ds.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ds.mapper.UserMapper">

    <select id="getUserList" parameterType="map" resultType="ds.pojo.User">

        select * from airplane.user

        <where>

        <if test="id != null">
            and id = #{id}
        </if>

        <if test="name != null">
            and name = #{name}
        </if>

        <if test="pwd != null">
            and pwd = #{pwd}
        </if>

        </where>

    </select>


    <insert id="addUser" parameterType="ds.pojo.User">
        insert into airplane.user(name,pwd) values(#{name},#{pwd})
    </insert>

    <update id="updateUser" parameterType="map">
        update airplane.user
            <set>
                <if test="name != null">name=#{name},</if>
                <if test="pwd != null">pwd=#{pwd}</if>
            </set>
    where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from airplane.user where id = #{id}
    </delete>

</mapper>
